<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select [(ngModel)]="Branch" >
      <mat-option *ngFor="let district of districts" [value]="district.district_name">
        {{district.district_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="button" (click)="getContractByBranch();">
    Search</button>
    <br><br>

  <mat-form-field appearance="fill">
    <mat-label>Check in date</mat-label>
    <input matInput [matDatepicker]="picker"
    [(ngModel)] = "checkinDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Number of nights</mat-label>
    <input matInput type="number"
    [(ngModel)] = "noOfNights" min=1
    placeholder="Enter number of nights">
  </mat-form-field><br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Number of rooms</mat-label>
    <input matInput type="number"
    [(ngModel)] = "noOfRooms" min=1
    placeholder="Enter number of rooms">
  </mat-form-field><br><br>

  <mat-form-field class="example-full-width">
    <mat-label>Number of adults</mat-label>
    <input matInput type="number"
    [(ngModel)] = "noOfAdults" min=1
    placeholder="Enter number of adults">
  </mat-form-field>


  <button mat-raised-button color="primary" type="button" (click)="checkAvailability();">
  Check availability</button>
  <br>
</div>

<div>
  <div *ngFor="let contract of availableContracts; let i = index"  >
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{contract.hotel.name}}</b>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p><b>Telephone number - </b>{{contract.hotel.telephone_no}}</p>
        <p><b>Email address - </b>{{contract.hotel.email}}</p>
        <br><br>
          <div *ngFor="let avl of results[i]">
          <p><b>Room Type - </b>{{avl.room}}</p>
          <p><b>Status - </b>{{avl.status}}</p>
          <p><b>Price - </b>{{avl.price}}</p>
          <br><br>
        </div>
    </mat-expansion-panel>
    <br>
  </div>
</div>
