.container {
  margin: 50px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
}

mat-form-field {
  padding: 20px;
  width: 50%;
}

mat-expansion-panel{
  width: 60%;
  left: 20%;

}
