<div class="container">
    <!-- Hotel details -->
        <mat-panel-title>
          <h1><b>Hotel details</b></h1>
        </mat-panel-title>


        <form class="hotel-form" [formGroup]="hotelDetailsForm" (ngSubmit)="addRoom(); saveHotel(); openSnackBar();">
                <mat-form-field class="example-full-width">
                  <mat-label>Hotel Name</mat-label>
                  <input matInput
                  [(ngModel)] = "hotel.name"
                  placeholder="Enter your hotel name" formControlName="name">
                  <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                      class="alert alert-danger">
                    <div *ngIf="f.name.errors.required">
                      *Hotel name is required.
                    </div>
                  </div>
                </mat-form-field>
                <br><br>

                <!-- <mat-form-field class="example-full-width">
                  <mat-label>Location</mat-label>
                  <input matInput
                  [(ngModel)] = "hotel.branch"
                   placeholder="Enter the branch name" formControlName="branch">
                </mat-form-field>
                <br><br> -->

                <mat-form-field appearance="fill">
                  <mat-label>Location</mat-label>
                  <mat-select [(ngModel)]="hotel.branch" formControlName="branch" >
                    <mat-option *ngFor="let district of districts" [value]="district.district_name">
                      {{district.district_name}}
                    </mat-option>
                  </mat-select>
                  <div *ngIf="f.branch.invalid && (f.branch.dirty || f.branch.touched)"
                      class="alert alert-danger">
                    <div *ngIf="f.branch.errors.required">
                      *Branch is required.
                    </div>
                  </div>
                </mat-form-field><br><br>

              <mat-form-field class="example-full-width">
                <mat-label>Email address</mat-label>
                <input matInput id="email"
                [(ngModel)] = "hotel.email"
                placeholder="Enter email address" formControlName="email">
                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                      class="alert alert-danger">
                    <div *ngIf="f.email.errors.required">
                      *Email is required.
                    </div>
                    <div *ngIf="f.email.errors.email">
                      *Email must be a valid email address.
                    </div>
                  </div>
              </mat-form-field>
              <br><br>

              <mat-form-field class="example-full-width">
                <mat-label>Telephone number</mat-label>
                <input matInput
                [(ngModel)] = "hotel.telephone_no"
                placeholder="Enter telephone number" formControlName="telephone_no">
                <div *ngIf="f.telephone_no.invalid && (f.telephone_no.dirty || f.telephone_no.touched)"
                      class="alert alert-danger">
                    <div *ngIf="f.telephone_no.errors.required">
                      *Telephone number is required.
                    </div>
                    <div *ngIf="f.telephone_no.errors.maxlength">
                      *Telephone number must be 10 characters long.
                    </div>
                    <div *ngIf="f.telephone_no.errors.pattern">
                      *Telephone number must only contain numbers.
                    </div>
                  </div>
              </mat-form-field>
              <br><br>

              <div *ngFor="let filter of filtersFormArray.controls; let i = index">
                <div class="roomtype">

                  <mat-form-field class="example-full-width">
                    <mat-label>Room-type name</mat-label>
                    <input [(ngModel)] = "rooms[i].type_name"
                    matInput  placeholder="Enter room type name" formControlName="typeName">
                    <div *ngIf="f.typeName.invalid && (f.typeName.dirty || f.typeName.touched)"
                      class="alert alert-danger">
                    <div *ngIf="f.typeName.errors.required">
                      *Room-type name is required.
                    </div>
                  </div>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea [(ngModel)] = "rooms[i].description"
                     matInput placeholder="Enter details" formControlName="description"></textarea>
                  </mat-form-field><br><br>

                  <mat-icon (click)="removeRoom(i); removeFilterFromFiltersFormArray();">
                    delete
                  </mat-icon>

                </div>
              </div>
              <button id="add" mat-raised-button type="button"
                        (click)="roomNumber(); addFilterToFiltersFormArray();">
                        Add Room type
                        </button>
                        <br><br><br>

              <button mat-raised-button color="primary" type="reset">Reset</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="!hotelDetailsForm.valid" >Submit</button>

        <!-- Form Values : {{hotelDetailsForm.value | json}} <br>
        Form Status : {{hotelDetailsForm.valid}} -->
  </form>
    </div>


