.container {
  /* border: 1px solid black;
  border-radius: 4px; */
  margin: 50px;
  padding: 30px;
  text-align: center;
}

.roomtype{
  margin: 50px;
  padding: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;

}

.hotel-form {
  text-align: center;
}

mat-form-field {
  width: 50%;
  padding: 15px;
}

.title {
  font-weight: bold;
}

button {
  margin: 10px;
  float : right;
  right: 200px;
}

#add {
  left: 300px;
  float: left;
}

mat-expansion-panel {
  width: 50%;
  left: 25%;
}

