<div class="container">
  <form class="contract-form" [formGroup]="loadContractsForm" (ngSubmit)="onSubmit()">
          <h3 class="title">Contract details</h3><br>

          <mat-horizontal-stepper>
            <!-- Step One -->
            <mat-step label="Hotel details" state="phone">
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Hotel Name</mat-label>
                  <input matInput placeholder="Enter your hotel name" formControlName="hotelName">
                </mat-form-field>
                <br><br>

                <mat-form-field class="example-full-width">
                  <mat-label>District</mat-label>
                  <input matInput placeholder="Enter the branch name" formControlName="district">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="Enter the branch name" formControlName="city">
                </mat-form-field>
                <br><br>

              <mat-form-field class="example-full-width">
                <mat-label>Email address</mat-label>
                <input matInput placeholder="Enter email address" formControlName="email">
              </mat-form-field>
              <br><br>

              <mat-form-field class="example-full-width">
                <mat-label>Telephone number</mat-label>
                <input matInput placeholder="Enter telephone number" formControlName="telephone">
              </mat-form-field>
              <br><br>

                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>
            </mat-step>
            <!-- Step two -->
            <mat-step label="Contract details" state="chat">
              <p>Socialize with each other.</p>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label>Contract duration </mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" formControlName="startDate">
                    <input matEndDate placeholder="End date" formControlName="endDate">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <br><br>

                <mat-form-field appearance="fill">
                  <mat-label>Markup value</mat-label>
                  <input matInput type="number" placeholder="Ex. 15" min="1" max="100" formControlName="markup">
                  <span matSuffix>%</span>
                </mat-form-field>
                <br><br>

                <button mat-raised-button color="primary" matStepperNext>Next</button>
                <button mat-raised-button matStepperPrevious>Back</button>
              </div>
            </mat-step>
            <!-- Step three -->
            <mat-step label="Room details">

              <button mat-raised-button type="reset">Cancel</button>
              <button mat-raised-button color="primary" type="submit">Submit</button>
              <button mat-raised-button matStepperPrevious>Back</button>
            </mat-step>

          </mat-horizontal-stepper>


        Form Values : {{loadContractsForm.value | json}} <br>
        Form Status : {{loadContractsForm.valid}}
  </form>
    </div>


