<div class="container">
  <!-- Contract details -->
      <mat-panel-title>
        <h1><b>Contract details</b></h1>
      </mat-panel-title>

      <form class="hotel-form" [formGroup]="contractDetailsForm" (ngSubmit)="addRoom(); saveContract(); openSnackBar();">

          <mat-form-field appearance="fill">
            <mat-label>Hotel name</mat-label>
            <mat-select [(ngModel)]="contract.hotel.hotel_id" formControlName="hotelname">
              <mat-option *ngFor="let hotel of hotels" [value]="hotel.hotel_id">
                {{hotel.name}} - {{hotel.branch}}
              </mat-option>
            </mat-select>
            <div *ngIf="f.hotelname.invalid && (f.hotelname.dirty || f.hotelname.touched)"
                class="alert alert-danger">
              <div *ngIf="f.hotelname.errors.required">
                *Hotel name is required.
              </div>
            </div>
          </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Start date</mat-label>
                <input matInput [matDatepicker]="picker1"
                [(ngModel)] = "contract.start_date"
                formControlName="startdate">
                <div *ngIf="f.startdate.invalid && (f.startdate.dirty || f.startdate.touched)"
                class="alert alert-danger">
              <div *ngIf="f.startdate.errors.required">
                *Start date is required.
              </div>
            </div>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <br><br>

              <mat-form-field appearance="fill">
                <mat-label>End date</mat-label>
                <input matInput [matDatepicker]="picker2"
                [(ngModel)] = "contract.end_date"
                formControlName="enddate">
                <div *ngIf="f.enddate.invalid && (f.enddate.dirty || f.enddate.touched)"
                class="alert alert-danger">
              <div *ngIf="f.enddate.errors.required">
                *End date is required.
              </div></div>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              <br><br>

            <mat-form-field class="example-full-width">
              <mat-label>Markup percentage (%)</mat-label>
              <input matInput type="number"
              [(ngModel)] = "contract.markup" min=1 max=100
              placeholder="Enter markup percentage" formControlName="markup">
              <div *ngIf="f.markup.invalid && (f.markup.dirty || f.markup.touched)"
                class="alert alert-danger">
              <div *ngIf="f.markup.errors.required">
                *Markup value is required.
              </div>
              <div *ngIf="f.markup.errors.min">
                *Markup value should be greater than 0.
              </div>
              <div *ngIf="f.markup.errors.max">
                *Markup value should not exceed 100.
              </div>
            </div>
            </mat-form-field>
            <br><br>

            <div id="here" *ngFor="let filter of filtersFormArray.controls; let i = index">
              <div class="roomtype">

                <mat-form-field appearance="fill">
                  <mat-label>Room type</mat-label>
                  <mat-select [(ngModel)]="rooms[i].room.roomtype_id" formControlName="roomtype">
                    <mat-option *ngFor="let roomtype of roomtypes" [value]="roomtype.roomtype_id">
                      {{roomtype.type_name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Price: per person</mat-label>
                  <input type="number" [(ngModel)] = "rooms[i].price"
                  matInput  placeholder="Enter price per person" formControlName="price">
                  <div *ngIf="f.price.invalid && (f.price.dirty || f.price.touched)"
                class="alert alert-danger">
              <div *ngIf="f.price.errors.required">
                *Price is required.
              </div></div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Number of rooms</mat-label>
                  <input type="number" [(ngModel)] = "rooms[i].no_of_rooms"
                   matInput placeholder="Enter number of rooms" formControlName="no_of_rooms">
                   <div *ngIf="f.no_of_rooms.invalid && (f.no_of_rooms.dirty || f.no_of_rooms.touched)"
                class="alert alert-danger">
              <div *ngIf="f.no_of_rooms.errors.required">
                *Number of rooms is required.
              </div></div>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <mat-label>Maximim number of adults</mat-label>
                  <input type="number" [(ngModel)] = "rooms[i].max_adults"
                   matInput placeholder="Enter maximim number of adults per room" formControlName="maximum">
                   <div *ngIf="f.maximum.invalid && (f.maximum.dirty || f.maximum.touched)"
                class="alert alert-danger">
              <div *ngIf="f.maximum.errors.required">
                *Number of adults is required.
              </div></div>
                </mat-form-field>

                <!-- <mat-form-field class="example-full-width">
                  <mat-label>Room type</mat-label>
                  <input type="number" [(ngModel)] = "rooms[i].room.roomtype_id"
                   matInput placeholder="Enter roomtype_id">
                </mat-form-field> -->

                <mat-icon (click)="removeRoom(i); removeFilterFromFiltersFormArray()">
                  delete
                </mat-icon>

              </div>
            </div>
            <button id="add" mat-raised-button type="button"
                      (click)="roomNumber(); addFilterToFiltersFormArray();">
                      Add Room type
                      </button>
                      <br><br><br>

            <button mat-raised-button color="primary" type="reset">Reset</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!contractDetailsForm.valid">Submit</button>

</form>
  </div>


