
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Hotel name</mat-label>
    <mat-select [(ngModel)]="hotelId">
      <mat-option *ngFor="let hotel of hotels" [value]="hotel.hotel_id">
        {{hotel.name}} - {{hotel.branch}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Branch name</mat-label>
    <mat-select [(ngModel)]="hotelBranch">
      <mat-option *ngFor="let hotel of hotels" [value]="hotel.name">
        {{hotel.branch}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <button mat-raised-button color="primary" type="button" (click)="getContractByHotel()">
  Search</button>
  <br>
    <!-- <p>id: {{hotelId}}</p> -->
</div>
<div>
  <div *ngFor="let contract of contracts; let i=index" >
    <mat-expansion-panel hideToggle (click)="getRoomsByContract(contract.contract_id)" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Contract - </b> ID no: {{contract.contract_id }}
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <p><b>Start date - </b>{{contract.start_date}}</p>
        <p><b>End date - </b>{{contract.end_date}}</p>
        <p><b>Markup - </b>{{contract.markup}}%</p>
        <br><br>
        <div *ngFor="let room of allrooms[i]">
          <p><b>Room Type - </b>{{room.room.type_name}}</p>
          <p><b>Price - </b>Rs.{{room.price}}</p>
          <p><b>Number of Rooms - </b>{{room.no_of_rooms}}</p>
          <p><b>Maximum adults - </b>{{room.max_adults}}</p>
          <br><br>
        </div>
    </mat-expansion-panel>
    <br>

  </div>
</div>

